@import url(reset.css);

:root {
  --app-bg: #f2f3f4;
  --app-bg-blue: #3487f3;
  --app-bg-orange: #d47215;
  --app-bg-purple: #6a1fc0;
  --app-bg-dark: #323235;
  --app-bg-green: #4dcc3c;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
}

body {
  background-color: var(--app-bg-dark);
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
}

